@import "../../scss/_helpers";

.app {
  &__laurels_awards {
    @include flex-column-properties(flex-start, center);
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  &__laurels_awards-card {
    flex: 1;
    @include flex-row-properities(flex-start, flex-start);
    width: 100%;
    margin: 1rem;
  }

  &__laurels_awards-card img {
    width: 50px;
    height: 50px;
  }

  &__laurels-card_content {
    @include display-direction-properties(column);
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1900px) {
  .app__laurels_awards-card {
    min-width: 390px;
  }
}

@media screen and (max-width: 450px) {
  .app__laurels_awards-card {
    min-width: 100%;
    @include margin(1rem, 0, 1rem, 0);
  }
}
