.app {
    &__header {
        background-color: var(--color-black);
    }

    &__header-h1 {
        font-family: var(--font-base);
        color: var(--color-golden);
        letter-spacing: 0.04em;
        line-height: 117px;
        font-size: 90px;
    }

    &__header-img img {
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .app {
        &__header-h1 {
            line-height: 80px;
            font-size: 70px;
        }
    }
}